@model SHBC_SNN.Models.SnnCase

@{
    ViewBag.Title = "Index";
}

<h2>Contacts @Model.CaseNo</h2>

@Html.Partial("_Contacts", @Model.Contacts)

<p>
    @Html.ActionLink("Create New", "Create", new { snncaseId = Model.Id })
</p>


