@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>The Street Naming and Numbering Applicator is deisgned to handle Street Naming and Numbering cases to comply with the Public Health Act 1925 and the Towns Improvement Clauses Act 1847.</p>
